<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Book Store</title>
</head>
<body>

    <div id="main-container" style="display: flex">

        <div id="view-book-table">
            <table id="bookstore-table">
                <tr id="table-header">
                    <th>Book Name </th>
                    <th>ISBN Number </th>
                    <th>Author </th>
                </tr>
                {%for book in booksData%}

                <tr id="table-data-row">
                    <td class="table-data" > {{book.getISBNNo()}} </td>
                    <td class="table-data" > {{book.getBookName()}} </td>
                    <td class="table-data" > {{book.getAuthorName()}} </td>
                    <td>
                        <a href="{{url_for ('delete_data_from_json_file', id=book.getId())}}">
                            <input  type="submit" value="Delete" />
    
                        </a>
                    </td>
                    <td>
                        <a>
                            <input type="submit" value="EDIT" />
                        </a>
                    </td>
                </tr>
                {%endfor%}



            </table>
        </div>

        



    
</body>
</html>