<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Book Store</title>
</head>
<body>
    {% if editpage == "no" %}

    <div id="main-container" style="display: flex">

        <div id="view-book-table">
            <table id="bookstore-table">
                <tr id="table-header">
                    <th> Name </th>
                    <th>Address </th>
                    <th>Postcode</th>
                    <th>Mobile</th>
                    <th>Email </th>
                </tr>

                {%for book in booksData%}
                <tr id="table-data-row">
                    <td class="table-data" > {{book.getName()}} </td>
                    <td contenteditable='true' class="table-data" > {{book.getAddress()}} </td>
                    <td class="table-data" > {{book.getPostcode()}} </td>
                    <td class="table-data" > {{book.getMobile()}} </td>
                    <td class="table-data" > {{book.getEmail()}} </td>
                    <td>
                        <a href="{{url_for ('delete_data_from_json_file', id=book.getId())}}">
                            <input  type="submit" value="Delete" />
                        </a>
                    </td>
                    <td>
                        <a href="{{url_for ('edit_data_and_submit_to_json_file', id=book.getId())}}">
                            <input type="submit" value="EDIT" />
                        </a>
                    </td>
                </tr>
                {%endfor%}



            </table>
        </div>



        
        <div>
            <p>Add your book</p>
            <form action="/add" method="post" >
                <label>Name</label>
                <input type="text" id="contact_name" name="contactName"><br>
                <label>Address</label>
                <input type="text" id="contact_address" name="contactAddress"><br>
                <label>Postcode</label>
                <input type="text" id="contact_postcode" name="contactPostcode"><br>
                <label>Mobile</label>
                <input type="text" id="contact_mobile" name="contactMobile"  ><br>
                <label>Email</label>
                <input type="text" id="contact_email" name="contactEmail" ><br>
                <input  type="submit" value="Add Contact" />

            </form>
        
        </div>

        {% endif %}
    


        {% if editpage == "yes"%}
        <div>
            <p>Add your book</p>
            <form action="/submit-edit" method="post" >
                <label>Name</label>
                <input type="text" id="contact_name" name="contactName" value="{{dataById.getName()}}"><br>
                <label>Address</label>
                <input type="text" id="contact_address" name="contactAddress" value="{{dataById.getAddress()}}"><br>
                <label>Postcode</label>
                <input type="text" id="contact_postcode" name="contactPostcode" value="{{dataById.getPostcode()}}"><br>
                <label>Mobile</label>
                <input type="text" id="contact_mobile" name="contactMobile"   value="{{dataById.getMobile()}}"><br>
                <label>Email</label>
                <input type="text" id="contact_email" name="contactEmail"  value="{{dataById.getEmail()}}"><br>
                <input  type="submit" value="Submit Edit" />
            </form>
        
        </div>

        {% endif %}
</body>
</html>